---
import type { ItemGrid as Props } from '~/types';
import { twMerge } from 'tailwind-merge';
import StaticItem from './StaticItem.astro';
import ClickableItem from './ClickableItem.astro';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props;

const { container: containerClass = '' } = classes;
---

{
  items && items.length > 0 && (
    <div
      class={twMerge(
        `grid gap-8 gap-x-12 sm:gap-y-8 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map((item) =>
        item?.link ? (
          <ClickableItem item={item} defaultIcon={defaultIcon} classes={classes} />
        ) : (
          <StaticItem item={item} defaultIcon={defaultIcon} classes={classes} />
        )
      )}
    </div>
  )
}
